/*MIXIN*/
html {
  margin: 0%;
  padding: 0%; }

img {
  max-width: 100%; }

#logo-nav {
  width: 10rem;
  height: 4.5rem;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  margin: auto; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#boton-nav {
  color: white;
  font-family: 'Roboto Slab';
  font-size: 1.4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  transition: all .5s; }

#boton-nav:hover {
  background-color: #cad9f7;
  color: aqua; }

/*MAQUETADO INDEX*/
#body-estructural {
  display: grid;
  grid-template-areas: "header header header" "intro intro intro" "seccion1 seccion1 seccion1" "seccion2 seccion2 seccion2" "seccion3 seccion3 seccion3" "seccion4 seccion4 seccion4" "seccion5 seccion5 seccion5" "footer footer footer";
  grid-template-columns: repeat;
  background-color: #fcf6ef; }

#header-pagina {
  grid-area: header; }

#body__introduccion {
  grid-area: intro; }

#body__primer-seccion {
  grid-area: seccion1; }

#body__segunda-seccion {
  grid-area: seccion2; }

#body__tercer-seccion {
  grid-area: seccion3; }

#body__cuarta-seccion {
  grid-area: seccion4; }

#body__quinta-seccion {
  grid-area: seccion5; }

#body__footer {
  grid-area: footer; }

/*MAQUETADO SERVICIOS*/
#estructural-servicios {
  display: grid;
  grid-template-areas: "card card card" "lista lista lista" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem; }

/*MAQUETADO CONTACTO*/
#estructural-contacto {
  display: grid;
  grid-template-areas: "header header header" "form form form" "footer footer footer";
  grid-template-columns: repeat(3, 1fr); }

#formulario__seccion {
  grid-area: form; }

/*MAQUETADO GALERIA*/
#estructural-galeria {
  display: grid;
  grid-template-areas: "header header header header" "galeria galeria galeria galeria" "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem; }

#galeria__primer-seccion {
  grid-area: galeria; }

/*MAQUETADO HISTORIA*/
#estructural-historia {
  display: grid;
  grid-template-areas: "header header header" "historia historia historia" "footer footer footer";
  grid-template-columns: repeat(3, 1fr); }

#historia__primer-seccion {
  grid-area: historia; }

/*FIN DE MAQUETADO*/
/*Inicio estilos index*/
.fondito {
  background-image: url("../img/fotoplaya.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 500px; }

/*especificos de seccion 1*/
#body__primer-seccion {
  padding-top: 3.5rem; }

#seccion-1__titulo, .body__segunda-seccion-titulo, .body__tercer-seccion-titulo, .body__cuarta-seccion-titulo, .body__quinta-seccion-titulo, .galeria__titulo, .historia__titulo {
  color: #3f69dd;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: center; }

#contenedor-seccion-1 {
  margin-top: 2rem;
  padding-bottom: 5rem; }

.seccion-1__parrafo, .seccion-1__parrafo-2, .seccion-2__parrafo, .seccion-2__parrafo-2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  text-align: center;
  padding-left: 7rem;
  padding-right: 7rem; }

@media screen and (max-width: 840px) {
  .body__primer-seccion {
    font-size: .8rem; } }

#carouselExampleIndicators {
  padding-left: 4rem;
  padding-right: 4rem; }

/*especificos de seccion 2*/
#body__segunda-seccion {
  background-color: #ebe8e8;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.seccion-2__parrafo-2 {
  margin-bottom: 2rem; }

#seccion-2__cajita {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem; }

.seccion-2__lista, .parrafo-cuarta-seccion-intro {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  text-align: left; }

@media screen and (max-width: 840px) {
  .body__segunda-seccion {
    font-size: .8rem; } }

/*especificos de seccion 3*/
#body__tercer-seccion {
  background-color: #e4e9f8;
  padding: 2.5rem 3rem 4rem 3rem; }

#tablita {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem; }

@media screen and (max-width: 840px) {
  .body__tercer-seccion {
    font-size: 1rem; } }

/*especificos de seccion 4*/
#body__cuarta-seccion {
  background-color: #6d6d6d;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.body__cuarta-seccion-titulo {
  color: white; }

.parrafo-cuarta-seccion-intro {
  color: white; }

#cajita-opinion-1, #cajita-opinion-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2rem; }

#cajita-opinion-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2rem; }

.opinion-fotito {
  width: 20rem;
  height: 15rem; }

.opinion {
  padding: 1rem;
  text-align: center;
  font-family: 'Fasthand', cursive;
  font-size: 1.5rem;
  color: #fffdfd;
  margin-left: 1rem;
  margin-right: 1rem; }

@media screen and (max-width: 840px) {
  .body__cuarta-seccion {
    font-size: 1rem; } }

/*especificos de seccion 5*/
#body__quinta-seccion {
  background-color: #fafaf8;
  padding-top: 2.7rem;
  padding-bottom: 3.5rem; }

#videito {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }

/*Estilos del footer*/
#body__footer, .caja-png, .grupo-1, .grupo-2 {
  background-color: #454546;
  width: 100%; }

.caja-png,
figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo-footer {
  width: 15rem;
  margin-left: 2rem; }

.textito-principal-grupo-1,
.textito-redes {
  color: white;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0.3rem 4rem;
  text-decoration: underline; }

.textito-redes {
  text-align: left;
  margin-left: 2.5rem; }

.textito-secundario-grupo-1 {
  color: #efefef;
  margin-bottom: 0.5rem 5rem 1rem 5rem;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

.red-social {
  margin: 0.5rem 0rem 0.5rem 2.5rem; }

#redes {
  display: inline-block;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease; }

#redes:hover {
  color: aqua; }

.grupo-2 {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif; }

/*Fin de estilos index*/
/*Inicio de estilos servicios*/
#sercicios__primer-seccion {
  grid-area: card; }

#servicios__segunda-seccion-lista {
  grid-area: lista; }

.servicios__primer-seccion-titulo, .servicios__segunda-seccion-titulo {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: #3f69dd;
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;
  text-align: center; }

.servicios__segunda-seccion-titulo {
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-left: 1rem;
  text-align: left; }

#servicios__primer-seccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 2rem; }

#servicios__card1, #servicios__card2, #servicios__card3 {
  border: solid 0.5rem #3f78f3;
  width: 23rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  padding-bottom: 1rem; }

.servicios__card1-titulo, .servicios__card2-titulo, .servicios__card3-titulo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline; }

.servicios__card1-parrafo, .servicios__card2-parrafo, .servicios__card3-parrafo {
  font-family: 'Roboto Slab', serif;
  text-align: center; }

.foto__carpas, .foto__pileta, .foto__morfi {
  width: 18rem;
  height: 15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

@media screen and (max-width: 992px) {
  #servicios__primer-seccion {
    grid-template-columns: repeat(2, 2fr); } }

@media screen and (max-width: 552px) {
  #servicios__primer-seccion {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1rem; } }

.servicios__segunda-seccion-titulo {
  text-align: left; }

#servicios__segunda-seccion-lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 2rem; }

@media screen and (max-width: 552px) {
  #servicios__segunda-seccion-lista {
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem; } }

/*Fin de estilos servicios*/
/*Inicio de estilos historia*/
#historia__primer-seccion {
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to bottom, #fcf6dd, white); }

.historia__texto {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify; }

#historia__imagenes {
  width: 19rem;
  height: 15rem;
  display: flex;
  flex-direction: row; }

@media screen and (max-width: 992px) {
  #historia__imagenes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  #historia__imagenes {
    width: 15rem;
    height: 10rem; } }

/*Fin de estilos historia*/
/*Inicio de estilos galeria*/
#estructural-galeria {
  background-color: whitesmoke; }

.galeria__titulo {
  font-size: 3rem; }

#galeria__caja-de-imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem; }

#galeria__caja-de-imagenes img {
  height: 20rem;
  width: 20rem; }

/*Fin de estilos galeria*/
/*Inicio estilos formulario de contacto*/
#formulario__seccion {
  padding-bottom: 2rem; }

#formulario__seccion {
  background-image: url(../img/fondo-contacto.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding-top: 1rem; }

#formulario__gran-contenedor {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  min-width: 18.75rem;
  background-color: #888888;
  margin: auto;
  margin-top: 3rem;
  padding: 1.25rem;
  color: #2755c2; }

.form__input, .form__input-2 {
  width: 100%;
  height: 2.81rem;
  background-color: #bebebe;
  padding: 0.625rem;
  outline: none;
  border: none;
  border-bottom: 0.125rem, solid #2755c265;
  font-size: 1.4rem;
  color: white; }

.form__input-2 {
  padding: 1.5px;
  border-bottom: 1.6px;
  margin-bottom: 0.5rem;
  font-size: 0.3rem;
  border-bottom: 1px;
  height: 1.5rem; }

.form__text {
  width: 100%;
  background-color: #bebebe;
  padding: 0.625rem;
  outline: none;
  border-bottom: 0.125rem solid #2755c2;
  color: white; }

.form__text::placeholder {
  font-size: 1.4rem; }

.form__label {
  display: block;
  font-size: 1.4rem;
  font-weight: 300; }

.formulario__titulo {
  color: #2755c2;
  font-weight: 500;
  font-size: 2.8rem;
  font-family: 'Roboto Slab', serif;
  text-decoration: underline;
  text-align: center; }

.formulario__cuadro-1, .formulario__cuadro-2, .formulario__cuadro-3, .formulario__cuadro-4, .formulario__cuadro-5 {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-top: 1.5rem; }

.formulario__cuadro-1 {
  margin-top: 1rem; }

.formulario__cuadro-4-botones {
  width: 100%;
  height: 3.125rem;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.625;
  border: none;
  outline: none;
  background: #2755c2;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin: 1.25rem 0 1.25rem 0;
  cursor: pointer;
  transition: all .5s ease; }

.formulario__cuadro-4-botones:hover {
  background: #224088c3; }

.formulario__cuadro-5 {
  display: flex;
  flex-direction: row;
  align-items: center; }

.formulario__cuadro-5-question {
  font-weight: bold;
  text-decoration: underline; }

@media screen and (max-width: 849px) {
  .formulario__cuadro-5 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; } }

/*Fin de estilos formulario de contacto*/
