/*Inicio de estilos galeria*/

#estructural-galeria{
    background-color: whitesmoke;
}

.galeria__titulo{
    font-size: 3rem;
}

#galeria__caja-de-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem;
}

#galeria__caja-de-imagenes img{
  height: 20rem; 
  width: 20rem; 
}

/*Fin de estilos galeria*/
