html{
    margin: 0%;
    padding: 0%;
}

img{
    max-width: 100%;
}

#logo-nav{
    width: 10rem;
    height: 4.5rem;
    animation-duration:2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
    margin: auto;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 

#boton-nav{
    color: white;
    font-family: 'Roboto Slab';
    font-size: 1.4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    transition: all .5s;
}

#boton-nav:hover{
    background-color: rgb(202, 217, 247);
    color: aqua;
}
