html{
    margin: 0%;
    padding: 0%;
}

img{
    max-width: 100%;
}

header {
    background-color: rgb(49, 130, 223);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navegacion{
    list-style-type: none;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
    color: white;
    text-transform: uppercase;
    font-family: arial;
}

.navegacion, li {
    transition: all .5s;
    padding: .3rem;
}

.navegacion li:hover{
    background-color: rgb(202, 217, 247);
}

@media screen and (max-width: 867px) {
#header-pagina nav ul{
    @include flex-colum-centrado
}

.logo{
    display: block;
    margin: auto;
}

.body__introduccion{
    margin-top: 8rem;
}

.body__introduccion-parrafo{
    margin-top: 10rem;
}

}

ul li a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
}

.logo{
    width: 16rem;
    animation-duration:2s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

