/*Inicio estilos index*/

.fondito{
    background-image: url("../img/fotoplaya.jpg")!important;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 500px;
}

/*especificos de seccion 1*/

#body__primer-seccion{
    padding-top: 3.5rem;
}

#seccion-1__titulo,.body__segunda-seccion-titulo,.body__tercer-seccion-titulo,.body__cuarta-seccion-titulo,.body__quinta-seccion-titulo,.galeria__titulo,.historia__titulo{
    color: rgb(63, 105, 221);
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#contenedor-seccion-1{
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.seccion-1__parrafo,.seccion-1__parrafo-2,.seccion-2__parrafo,.seccion-2__parrafo-2{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 7rem;
    padding-right: 7rem;
}

@media screen and (max-width: 840px) {
    .body__primer-seccion{
        font-size: .8rem;
    }
}

#carouselExampleIndicators{
    padding-left: 4rem;
    padding-right: 4rem;
}
/*especificos de seccion 2*/

#body__segunda-seccion{
    background-color: rgb(235, 232, 232);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.seccion-2__parrafo-2{
    margin-bottom: 2rem;
}

#seccion-2__cajita{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

.seccion-2__lista,.parrafo-cuarta-seccion-intro{
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
    text-align: left;
}

@media screen and (max-width:840px){
    .body__segunda-seccion{
        font-size: .8rem;
    }
}

/*especificos de seccion 3*/

#body__tercer-seccion{
    background-color: rgb(228, 233, 248);
    padding: 2.5rem 3rem 4rem 3rem;
}

#tablita{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

@media screen and (max-width:840px) {
    .body__tercer-seccion{
        font-size: 1rem;
    }
}

/*especificos de seccion 4*/

#body__cuarta-seccion{
    background-color: rgb(109, 109, 109);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.body__cuarta-seccion-titulo{
    color: white;
}

.parrafo-cuarta-seccion-intro{
    color: white;
}

#cajita-opinion-1, #cajita-opinion-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2rem;
}

#cajita-opinion-2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 2rem;
}

.opinion-fotito{
    width: 20rem;
    height: 15rem;
}

.opinion{
    padding: 1rem;
    text-align: center;
    font-family: 'Fasthand', cursive;
    font-size: 1.5rem;
    color: rgb(255, 253, 253);
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width:840px) {
    .body__cuarta-seccion{
        font-size: 1rem;
    }
}

/*especificos de seccion 5*/

#body__quinta-seccion{
    background-color: rgb(250, 250, 248);
    padding-top: 2.7rem;
    padding-bottom: 3.5rem;
}

#videito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*Estilos del footer*/

#body__footer, .caja-png, .grupo-1,.grupo-2{
    background-color: rgb(69, 69, 70);
    width: 100%;
}

.caja-png,
figure{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 15rem;
    margin-left: 2rem;
}

.textito-principal-grupo-1,
.textito-redes{
    color: white;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0.3rem 4rem;
    text-decoration: underline;
}

.textito-redes{
    text-align: left;
    margin-left: 2.5rem;
}

.textito-secundario-grupo-1{
    color: #efefef;
    margin-bottom: 0.5rem 5rem 1rem 5rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.red-social{
    margin: 0.5rem 0rem 0.5rem 2.5rem;
}

#redes{
display: inline-block;
text-decoration: none;
width: 3rem;
height: 3rem;
line-height: 3rem;
color: white;
margin-right: 10px;
background-color: #0d2033;
text-align: center;
transition: all 300ms ease;
}

#redes:hover{
color: aqua;
}

.grupo-2{
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
}

/*Fin de estilos index*/
